<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>inserito proprietario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div>
    <br>
    <br>
    <div class="row align-items-start">
        <h2 style="text-align: center;">Inserito proprietario:</h2>
        <br>
        <br>
        <div class="col md-10 offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Codice Partecipazione</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Citta</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span th:text="${proprietario.codPartecipazione}"></span></td>
                    <td><span th:text="${proprietario.cognome}"></span></td>
                    <td><span th:text="${proprietario.nome}"></span></td>
                    <td><span th:text="${proprietario.citta}"></span></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>


    <br>
    <h3 style="text-align: center;"><a style="text-decoration:none;" href="/">Torna a menu</a></h3>
    <br>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>